.all-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0);
}

.add-button{
    background-color: transparent;
    color: black;
    border-color: orange;
    margin-top: 10px;
}

.add-button:hover{
    cursor: pointer;
    background-color: orange;
    border-color: orange;
}

.registration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 10px;
}


.registration-input{
    width: 400px;
    padding: 5px;
}

.display-button{
    margin-top: 40px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.display-button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.click{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}


